<h1>Create a New Song</h1>

<form method="POST" action="/songs">
    <label for="song[name]">Song Name:</label>
    <input type="text" id="Name" name="song[name]">
    <br>
    <label for="artist[name]">Artist Name:</label>
    <input type="text" id="Artist Name" name="artist[name]"><br>
    <br>
    <label for="song[genre]">Choose the genres:</label>
    <br>
    <% Genre.all.each do |genre| %>
    <label><%= genre.name %></label>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"/> <br>
    <% end %>
    <br>
    <input type="submit" value="Create Song">
</form> 
